/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
    
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div.owl-prev {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid white; 
    margin-top:28px;
    margin-left:40px;
}

.owl-theme .owl-controls .owl-buttons div.owl-next {
    
    width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	
	border-left: 15px solid #ffffff;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/
.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 10px;
	height: 10px;
	background:none;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	
	border:2px red solid;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: none;
    
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	
	border:2px red solid;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: none;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
    margin-top:30px;
	height: 15px;
	width: 5px;
	color: #ffffff;
    padding-top: 2px;
    padding-right: 11px;
    padding-bottom: 2px;
    padding-left: -10px;
	font-size: 10px;
	border:2px #ffffff solid;
    background-color:#ffffff;
	-webkit-border-radius: 75%;
	-moz-border-radius: 75%;
	border-radius: 75%;
	
	line-height:70px;
}

.owl-theme .owl-controls .owl-page:hover span.owl-numbers{
    margin-top:30px;
	height: 15px;
	width: 5px;
	color: #7195CB;
    padding-top: 2px;
    padding-right: 11px;
    padding-bottom: 2px;
    padding-left: -10px;
	font-size: 10px;
    border-color:#ffffff;
	background-color:#ffffff;
	-webkit-border-radius: 75%;
	-moz-border-radius: 75%;
	border-radius: 75%;
	line-height:70px;
}


.owl-theme .owl-controls .owl-page.active span.owl-numbers{
    margin-top:30px;
	height: 15px;
	width:5px;
	color: #7195CB;
    padding-top: 2px;
    padding-right: 11px;
    padding-bottom: 2px;
    padding-left: -10px;
	font-size: 10px;
	-webkit-border-radius: 75%;
	-moz-border-radius: 75%;
	border-radius: 75%;
	background-color:#7195CB;
    border-color:#7195CB;
	line-height:70px;
}


/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.gif) no-repeat center center
}